@keyframes sway {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

@keyframes swayReverse {
  0% {
    transform: rotate(0.5deg);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0.5deg);
  }
}

@keyframes fastSway {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes fastSway2 {
  0% {
    transform: rotate(-60deg);
  }

  50% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(-60deg);
  }
}

.body1 {
  position: relative;
  height: 100vh;
  /* Adjust as needed */
  overflow-y: scroll;
  overflow-x: hidden;
  /* content: center; */
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 120vw;
}

.img1 {
  position: absolute;
  top: -10;
  left: 0;
  width: 100%;

}

#leftLeaves {
  width: 50vw;
  left: 10vw;
  animation: swayReverse 4s ease-in-out infinite alternate;
}

#rightLeaves {
  top: 0;
  left: 10vw;
  animation: sway 5s ease-in-out infinite alternate;
  /* Adjust timing and animation as needed */
  width: 100vw;
}

#profile {
  width: 60vw;
  left: 15vw;
  top: 3vh;
}

.my-atropos {
  width: 120vw;
  height: 120vh;
}

.intro-text {
  position: absolute;
  z-index: 15;
  top: 20vh;
  right: 24vw;
  width: 30vw;
  text-align: right;
}

.text-span {
  color: #CD7F32;
}

#scroll-leaf {
  position: absolute;
  top: 50vh;
  right: 20vw;
  height: 50vh;
  animation: fastSway 3s ease-in-out infinite alternate;

}

